
@{
    ViewBag.Title = "Index";
}

<div class="col-lg-offset-3 col-lg-6">
    <div class="btn-group btn-block btn-group-lg">
        <h2>Login</h2>
        @Html.ActionLink("..with bank ID", "logIn", "User", new { empty = "" }, new { @class = "btn btn-lg btn-block btn-primary" })
    </div>
</div>


