@{
    ViewBag.Title = "logIn";
}

<h2>This is login site</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger"})

        <div class="form-group">
            <div class="col-md-10">
                <input type="text" name="personalIdentification" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <input type="text" name="password" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="logIn" class="btn btn-success" />
            </div>
        </div>
    </div>
}
