
@{
    ViewBag.Title = "Test_Data";
}

<h2>Test_Data</h2>

<div>
    <p>Testdata succesfull</p>
    @Html.ActionLink("Back to index", "Index", "User", new { empty = "" }, new { @class = "login-image btn btn-lg btn-block btn-primary" })
</div>

