body 
{
    padding-top: 300px;
    background: url(../Images/bank.jpg) no-repeat center center fixed; 
    background-size: cover;
}

.btn 
{
    padding: 30px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 0;
}
 
.btn:focus, .btn:active:focus, .btn.active:focus 
{
    outline: 0 none;
}
 
.btn-default 
{
    background: #0c5c3b;
    color: #ffffff;
    box-shadow: 1px 2px 4px hsla(0, 2%, 31%, 0.50);
    transition: 0.1s;
}
 
.btn-default:hover
{
    background: #ffffff;
    color: #0c5c3b;
}

.login-label 
{
    display: block;
    color: white;
    font-size: 40px;
    text-align: center;
    text-shadow: 1px 2px 4px hsla(0, 2%, 31%, 0.50);
}

/* THUMB ICON */
.fa-thumbs-down, .fa-thumbs-up 
{
    padding: 0% 5% 2% 7%;
    position: absolute;
    font-size: 23px;
    text-shadow: 1px 2px 4px hsla(0, 2%, 31%, 0.50);
}

.thumb-type .fa-thumbs-up,
.thumb-type:hover .fa-thumbs-down 
{
    display: none;
}

.thumb-type:hover .fa-thumbs-up 
{
    display: inline;
}

/* LOCK ICON */
.fa-lock, .fa-unlock-alt 
{
    padding: 0% 5% 2% 10%;
    position: absolute;
    font-size: 23px;
    text-shadow: 1px 2px 4px hsla(0, 2%, 31%, 0.50);
}

.lock-size .fa-unlock-alt,
.lock-size:hover .fa-lock 
{
    display: none;
}

.lock-size:hover .fa-unlock-alt 
{
    display: inline;
}

/*
.login-image 
{
    background: #0c5c3b url(../Images/whitelock.png) no-repeat;
    display: block;
    height: 108px;
    margin: 5%;
    padding: 5%;
    transition: 0.1s;
}

.login-image:hover 
{
    background: #fff url(../Images/greenlock.png) no-repeat;
    height: 120px;
}
*/

