body 
{
    padding-top: 300px;
    background: url(../Images/bank.jpg) no-repeat center center fixed; 
    background-size: cover;
}

.btn 
{
    padding: 10px 10px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 0;
}
 
.btn:focus, .btn:active:focus, .btn.active:focus 
{
    outline: 0 none;
}
 
.btn-default 
{
    margin-top: 1%;
    background: #0c5c3b;
    color: #ffffff;
    box-shadow: 1px 2px 4px hsla(0, 2%, 31%, 0.50);
    transition: 0.1s;
}
 
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default 
{
    background: #ffffff;
    color: #0c5c3b;
}

fieldset 
{
    background-color: #fff;
    padding: 10% 10% 10% 10%;
}

input[type="text"] 
{
    display: block;
    margin: 0;
    width: 100%;
    font-family: sans-serif;
    font-size: 18px;
    box-shadow: none;
    border-radius: 0;
}

input[type="password"] 
{
    display: block;
    margin: 0;
    width: 100%;
    font-family: sans-serif;
    font-size: 18px;
    box-shadow: none;
    border-radius: 0;
}

input[type="text"]:focus 
{
  outline: none;
}

input[type="password"]:focus 
{
  outline: none;
}

.input-style input[type="text"] 
{
  padding: 3px;
  border: solid 3px #c9c9c9;
  box-shadow: inset 0 0 0 1px #707070;
  transition: box-shadow 0.3s, border 0.3s;
}

.input-style input[type="password"] 
{
  padding: 3px;
  border: solid 3px #c9c9c9;
  box-shadow: inset 0 0 0 1px #707070;
  transition: box-shadow 0.3s, border 0.3s;
}

.input-style input[type="text"]:focus 
{
  border: solid 3px #0c5c3b;
}

.input-style input[type="password"]:focus 
{
  border: solid 3px #0c5c3b;
}
